/*/// Nav Bar ///*/

.navbar{
    display: flex;
    color: #fff;
    background-color: black;
    padding-top: 20px;
    justify-content: space-around;
}

.list{
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 60px;
    margin-top: -10px;
    margin-left: -300px; 
}

.hero{
    display: flex;
    flex-direction: column;
    height:80vh;
}


.hero div:nth-child(1){
    flex-grow: 1.5;
    font-family: poppins,sans-serif;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
 }
 
 .hero div:nth-child(2){
     flex-grow: 0.4;
     color: #fff;
     text-align: center;
     font-size: 26px;
     margin-top: -220px;
 }
 
 .hero div:nth-child(3){
     flex-grow: 2;
     text-align: center;
 }  
 
